<div class="row mx-0">
    <div class="col-lg-11 mt-5 mx-auto">
      <h1 class="h1 #3f51b5">Doctors Available</h1>
      <div class="my-card">
        <div class="my-card-header my-card-header-primary">
          <h1 class="my-card-title">Physicians</h1>
        </div> 
        <mat-form-field appearance="outline">
          <mat-label>Select Type</mat-label>
          <mat-select [formControl]="specControl" >
            <mat-option *ngFor="let spec of specs " [value]="spec" >
             <span >{{spec}}</span> 
            </mat-option>
           </mat-select>
        </mat-form-field>
        <button mat-button class="filter-button" (click)="filterPhysicians()" color="primary">Apply</button>
        <div *ngFor="let physician of physicians; last as last" >
          <mat-card matRipple *ngIf="(physician.spec == selectedSpec)">
            <mat-card-header>
              <img mat-card-avatar src="/assets/images/doc.jpeg" alt="Avatar"/>
              <mat-card-title>{{physician.name}}</mat-card-title>
              <mat-card-subtitle>{{physician.spec}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                {{physician.description}}
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button color="primary"  (click)="openDialog(physician.name)">Book Appointment</button>
                <button mat-stroked-button color="accent">View Contact Info</button>
            </mat-card-actions>
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </mat-card>
        </div>
        

      </div>
      
    </div>
</div>