.my-divider {
  color: black;
}
@media only screen and (min-width: 600px) {
  .profile-image {
    border-right: 1px solid #23293b;
  }
}

.dp-image {
  border-radius: 50%;
  display: block;
  margin: auto;
  max-width: 300px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}
