<header class="site-header clearfix">
    <nav>
     <div class="logo"> 
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20.5 6c-2.61.7-5.67 1-8.5 1s-5.89-.3-8.5-1L3 8c1.86.5 4 .83 6 1v13h2v-6h2v6h2V9c2-.17 4.14-.5 6-1l-.5-2zM12 6c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"/></svg>  
        <a mat-button href="#"><span></span>LetsCheckIt</a>
     </div>
     <div class="menu"> 
      <ul >
        <a mat-button href="#">Contact Us</a>
        <a mat-button href="#" ><span></span>patientInfo</a>
        <a mat-button href="#"><span></span>Dashboard</a>
        <a mat-button href="#"><span></span>about-us</a>
        <a mat-raised-button color="accent" href="#"><span></span>Login/Sign</a>
        <input title="Enter search terms" required="" aria-label="Enter search terms" autocomplete="off" id="global-nav-search" class="typeahead-search js-bound" type="text" name="query" placeholder="Search">
        </ul>
     </div>
    </nav>
    <section>
     <div class="leftside"> 
      <img src="./assets/images/intro.jpg" >
     </div>
     <div class="rightside"> 
      <h1>INTRODUCTION</h1>
      <p>  BETTER INFORMATION  BETTER HEALTH:)   </p>
      <a mat-button href="#">Welcome</a>
     
     </div>
     
    </section>
   
   
   </header>
   
 
 
 
 
 
 
 
 
 
 
 
 
  <!-- Slider Starts -->
  <div id="main-slide" class="carousel slide carousel-fade" data-ride="carousel">
     <!-- Indicators Starts -->
    
     <!-- Indicators Ends -->
     <!-- Carousel Inner Starts -->
     <div class="carousel-inner">
         <!-- Carousel Item Starts -->
         
         <!-- Carousel Item Ends -->
         <!-- Carousel Item Starts -->
         <div class="item active bg-parallax item-2">
             <div class="slider-content">
                 <div class="col-md-12">
                     <div class="container">
                         <div class="slider-text text-center">
                           
                             <p>
                                 <a href="#" class="slider btn btn-primary">Prediction</a>
                             </p>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <!-- Carousel Item Ends -->
     </div>
     <!-- Carousel Inner Ends -->
  
 </div>
 <!-- Slider Ends -->
         <!-- Features Section Starts -->
         <section class="features">
             <div class="container">
                 <div class="row features-row">
                     <!-- Feature Box Starts -->
                     <div class="feature-box col-md-4 col-sm-12">
                         <span class="feature-icon">
                             <img  class="imgadj" src="assets/images/Doctor.jpg" alt="download app">
                         </span>
                   <div class="feature-box-content">
                      <h3>About Physicians</h3>
                      <p>Internet is one of the new emerging </p>
                  </div>
                         
                     </div>
                     <!-- Feature Box Ends -->
                     <!-- Feature Box Starts -->
                     <div class="feature-box two col-md-4 col-sm-12">
                         <span class="feature-icon">
                             <img id="add-bitcoins" src="assets/images/ceo.jpg" alt="add bitcoins">
                         </span>
                         <div class="feature-box-content">
                             <h3>Emerging Technology</h3>
                             <p>Internet is one of the new emerging </p>
                         </div>
                     </div>
                     <!-- Feature Box Ends -->
                     <!-- Feature Box Starts -->
                     <div class="feature-box three col-md-4 col-sm-12">
                         <span class="feature-icon">
                             <img id="buy-sell-bitcoins" src="assets/images/ceo.jpg" alt="buy and sell bitcoins">
                         </span>
                         <div class="feature-box-content">
                             <h3>Fast Transactions</h3>
                             <p> transactions are relatively faster as compared to bank transfers </p>
                         </div>
                     </div>
                     <!-- Feature Box Ends -->
                 </div>
             </div>
         </section>
         <!-- Features Section Ends -->
          <!-- About Section Starts -->
          <section class="about-us">
             <div class="container">              
       
                 <!-- Section Content Starts -->
                 <div class="row about-content">
                 
                     <!-- Content Starts -->
                     <div class="col-sm-12 col-md-7 col-lg-6">
                         <h3 class="title-about">WE ARE PREDICTOR</h3>
                         <p class="about-text">A place for everyone who wants to predict thier own disease. The system provided users latest . The major benefit of the system is that it is free of cost.</p>
                         <ul class="nav nav-tabs"><br>
                             <li class="active"><a data-toggle="tab" href="#menu1">Our Mission</a></li>
                             <li><a data-toggle="tab" href="#menu2">Our advantages</a></li>
                             <li><a data-toggle="tab" href="#menu3">Our guarantees</a></li>
                         </ul>
                         <div class="tab-content">
                             <div id="menu1" class="tab-pane fade in active">
                                 <p>Our Mission is predicting the stock and crypto-currency.it is also able to predict values of both stocks and bitcoin that will be beneficial for investors. </p>
                             </div>
                             <div id="menu2" class="tab-pane fade">
                                 <p>Our mission is to provide platform that will  help you to enter and better understand of the stock and bitcoin and avoid any issues you may encounter.</p>
                             </div>
                             <div id="menu3" class="tab-pane fade">
                                 <p>We are here because we are passionate about open, transparent markets and aim to be a major driving force in widespread adoption, we are the first and the best in cryptocurrency. </p>
                             </div>
                         </div>
                         <a class="btn btn-primary" href="about">Read More</a>
                     </div>
                     <!-- Content Ends -->
                 </div>
                 <!-- Section Content Ends -->
             </div>
         </section>
         <br>
         <!-- About Section Ends -->
          <!-- Features and Video Section Starts -->
          <section class="image-block">
             <div class="container-fluid">
                 <div class="row">
                     <!-- Features Starts -->
                     <div class="col-md-8 ts-padding img-block-left">
                         <div class="gap-20"></div>
                         <div class="row">
                             <!-- Feature Starts -->
                             <div class="col-sm-6 col-md-6 col-xs-12">
                                 <div class="adj" >
                                     <span class="featiconure-">
                                         <img class="strong-security" src="assets/images/ceo.jpg" alt="strong security"/>
                                     </span>
                                     <h3 class="feature-title">Strong Security</h3>
                                     <p>Protection against DDoS attacks, <br>full data encryption</p>
                                 </div>
                                 
                             </div>
 
 
 
 
                             <!-- Feature Ends -->
                             <div class="gap-20-mobile"></div>
                             <!-- Feature Starts -->
                             <div class="col-sm-6 col-md-6 col-xs-12">
                                 <div class="adjs">
                                 <div class="feature text-center">
                                     
                                     <span class="feature-icon">
                                         <img class="world-coverage" src="assets/images/ceo.jpg" alt="world coverage"/>
                                     </span>
                                     <h3 class="feature-title">World Coverage</h3>
                                     <p>Providing services in 99% countries<br> around all the globe</p>
                                 </div>
                                 </div>
                             </div>
                             <!-- Feature Ends -->
                         </div>
                         <div class="gap-20"></div>
                         <div class="row">
                             <!-- Feature Starts -->
                             <div class="col-sm-6 col-md-6 col-xs-12">
                                 <div class="adj">
                                 <div class="feature text-center">
                                     <span class="feature-icon">
                                         <img id="payment-options" src="assets/images/ceo.jpg" alt="payment options"/>
                                     </span>
                                     <h3 class="feature-title">Payment Options</h3>
                                     <p>Popular methods: Visa, MasterCard, <br>bank transfer</p>
                                 </div>
                                 </div>
                             </div>
                             <!-- Feature Ends -->
                             <div class="gap-20-mobile"></div>
                             <!-- Feature Starts -->
                             <div class="col-sm-6 col-md-6 col-xs-12">
                                 <div class="adjs">
                                 <div class="feature text-center">
                                     <span class="feature-icon">
                                         <img id="mobile-app" src="assets/images/ceo.jpg" alt="mobile app"/>
                                     </span>
                                     <h3 class="feature-title">Web Application</h3>
                                     <p>Our System is a web Application</p>
                                 </div>
                                 </div>
                             </div>
                             <!-- Feature Ends -->
                         </div>
                         <div class="gap-20"></div>
                         <div class="row">
                             <!-- Feature Starts -->
                             <div class="col-sm-6 col-md-6 col-xs-12">
                                 <div class="adj">
                                     <div class="feature text-center">
                                     <span class="feature-icon">
                                         <img id="cost-efficiency" src="assets/images/ceo.jpg" alt="cost efficiency"/>
                                     </span>
                                     <h3 class="feature-title">Cost efficiency</h3>
                                     <p>Reasonable trading fees for takers<br> and all market makers</p>
                                 </div>
                                 </div>
                             </div>
                             <!-- Feature Ends -->
                             <div class="gap-20-mobile"></div>
                             <!-- Feature Starts -->
                             <div class="col-sm-6 col-md-6 col-xs-12">
                                 <div class="adjs">
                                 <div class="feature text-center">
                                     <span class="feature-icon">
                                         <img id="high-liquidity" src="assets/images/ceo.jpg" alt="high liquidity"/>
                                     </span>
                                     <h3 class="feature-title">High Liquidity</h3>
                                     <p>Fast access to high liquidity orderbook<br> for top  pairs</p>
                                 </div>
                                 </div>
                             </div>
                             <!-- Feature Ends -->
                         </div>
                     </div>
        
                 </div>
             </div>
         </section>
         <!-- Features and Video Section Ends -->
         <br>
       
         <br>
          <!-- Quote and Chart Section Starts -->
          <section class="image-block2">
             <div class="container-fluid">
                 <div class="row">
                     <!-- Quote Starts -->
                     <div class="col-md-4 img-block-quote bg-image-2">
                         <blockquote>
                             <p>Prediction is one of the most important inventions in all of human history. For the first time ever, anyone can send or receive any amount of money with anyone else, anywhere on the planet, conveniently and without restriction. It’s the dawn of a better, more free world.</p>
                             <footer><img src="assets/images/ceo.jpg" alt="ceo" /> <span>Marc Smith</span> - CEO</footer>
                         </blockquote>
                     </div>
                     <!-- Quote Ends -->
                     <!-- Chart Starts -->
                     <div class="col-md-8 bg-grey-chart">
                         <div class="chart-widget dark-chart chart-1">
                             <div>
                                 <div class="btcwdgt-chart" data-bw-theme="dark"></div>
                             </div>
                         </div>
                         <div class="chart-widget light-chart chart-2">
                             <div>
                                 <div class="btcwdgt-chart" bw-theme="dark"></div>
                             </div>
                         </div>
                     </div>
                     <!-- Chart Ends -->
                 </div>
             </div>
         </section>
         <!-- Quote and Chart Section Ends -->
         <br>
         <!-- Blog Section Starts -->
         <section class="blog">
             <div class="container">
              
                 <div class="row latest-posts-content">
                     <!-- Article Starts -->
                     <div class="col-sm-4 col-md-4 col-xs-12">
                         <div class="latest-post">
                             <!-- Featured Image Starts -->
                             <a href="blog-post.html"><img class="img-responsive" src="assets/images/ceo.jpg" alt="img"></a>
                             <!-- Featured Image Ends -->
                             <!-- Article Content Starts -->
                             <div class="post-body">
                                 <h4 class="post-title">
                                     <a href="blog-post.html">How Cryptocurrency Begun and Its Impact To Financial Transactions</a>
                                 </h4>
                                 <div class="post-text">
                                     <p>incididunt ut labore et dolore magna aliqua. Ut enim aminim veniam, quis nostrud...</p>
                                 </div>
                             </div>
                             <div class="post-date">
                                 <span>01</span>
                                 <span>JAN</span>
                             </div>
                             <a href="blog-post.html" class="btn btn-primary">read more</a>
                             <!-- Article Content Ends -->
                         </div>
                     </div>
                     <!-- Article Ends -->
                     <!-- Article Starts -->
                     <div class="col-sm-4 col-md-4 col-xs-12">
                         <div class="latest-post">
                             <!-- Featured Image Starts -->
                             <a href="blog-post.html"><img class="img-responsive" src="assets/images/ceo.jpg" alt="img"></a>
                             <!-- Featured Image Ends -->
                             <!-- Article Content Starts -->
                             <div class="post-body">
                                 <h4 class="post-title">
                                     <a href="blog-post.html">Cryptocurrency - Who Are Involved With It? Words about members</a>
                                 </h4>
                                 <div class="post-text">
                                     <p>incididunt ut labore et dolore magna aliqua. Ut enim aminim veniam, quis nostrud...</p>
                                 </div>
                             </div>
                             <div class="post-date">
                                 <span>17</span>
                                 <span>MAR</span>
                             </div>
                             <a href="blog-post.html" class="btn btn-primary">read more</a>
                             <!-- Article Content Ends -->
                         </div>
                     </div>
                     <!-- Article Ends -->
                     <!-- Article Start -->
                     <div class="col-sm-4 col-md-4 col-xs-12">
                         <div class="latest-post">
                             <!-- Featured Image Starts -->
                             <a href="blog-post.html"><img class="img-responsive" src="assets/images/ceo.jpg" alt="img"></a>
                             <!-- Featured Image Ends -->
                             <!-- Article Content Starts -->
                             <div class="post-body">
                                 <h4 class="post-title">
                                     <a href="blog-post.html">Risks & Rewards Of Investing In Bitcoin. Pros and Cons</a>
                                 </h4>
                                 <div class="post-text">
                                     <p>incididunt ut labore et dolore magna aliqua. Ut enim aminim veniam, quis nostrud...</p>
                                 </div>
                             </div>
                             <div class="post-date">
                                 <span>25</span>
                                 <span>FEB</span>
                             </div>
                             <a href="blog-post.html" class="btn btn-primary">read more</a>
                             <!-- Article Content Ends -->
                         </div>
                     </div>
                 </div>
                 <!-- Section Content Ends -->
             </div>
         </section>
         <!-- Blog Section Ends -->
         <app-footer></app-footer>