.example-full-width {
  width: 60%;
}

@media only screen and (min-width: 600px) {
.heading {
  font-size: 72px;
  font-weight: bolder;
  color: lightgray;
  z-index: 0;
}

.outer-toolbar span{
  font-size: 1.8rem;
}
}

.outer-toolbar span{
  text-size-adjust: auto;
}

.mat-nav-list a span{
  padding-right: 1.2rem;
}

.login-bg::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.1;
  background-image: url('/assets/images/login.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.sidenav-container {
  height: 100%;  
}

.sidenav {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(136, 136, 136, 0.4);
}
/*Not part of the theme, need to be changed  */
/*
.sidenav::before{
background-image: url('/assets/images/sidebar-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

*/
.innerToolbar {
  color: azure;
}
.sidenav a  {
  color: azure; 
}
.sidenav::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
  background: linear-gradient(60deg, #333333, #252525);;
  /*background: linear-gradient(60deg, #3f51b5, #3f51b5);*/
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(48, 39, 176, 0.4);
  top: 0;
  z-index: 2;
}

.sidenav span {
  margin-right: 10px;
}
.toolbar-icon {
  margin-right: 10px;
}