<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav my-sidenav" fixedInViewport 
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar class="innerToolbar ">D. I. P. S.</mat-toolbar>
      <img class="mx-auto dp-image " src="/assets/images/doc.jpeg">

      <mat-nav-list class="mat-nav-list"  >
        <a mat-list-item routerLink="appointments"><span><mat-icon aria-hidden="false" aria-label="No">format_list_numbered</mat-icon></span> Appointments</a> 
        <a mat-list-item routerLink="prescription"><span><mat-icon aria-hidden="false" aria-label="No">pages</mat-icon></span>Write Prescription</a>
        <a mat-list-item href="#"><span><mat-icon aria-hidden="false" aria-label="No">contacts</mat-icon></span>Contact Us</a>
        <a mat-list-item href="#"><span><mat-icon aria-hidden="false" aria-label="No">subject</mat-icon></span>About</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="warn" class="d-flex justify-content-between outer-toolbar">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Diagnosis Intuition & Prescription</span>        
        <button mat-stroked-button [matMenuTriggerFor]="menu" aria-label="Profile" class="toolbar-icon">
          <mat-label>Moeez Faheem</mat-label>
          <mat-icon>account_circle</mat-icon>
        </button>
      </mat-toolbar>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>Log Out</button>
  </mat-menu>