<div class="row">
    <div class="col-lg-8 mt-5 mx-auto text-center animate__animated animate__fadeInDown">
        <h1 class="h1">Welcome to <span class="text-danger">Diagnosis and Prescription System</span></h1>
        <hr>
        <p class="text-secondary">
            Diagnosis system dsjkdnskjds adkjasndkasndjnkbhbkn
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 mt-3 mx-auto row">

        <div class="col-lg-3 mx-auto mb-3  p-4">
            <mat-icon class="text-warning animate__animated animate__zoomIn large-number" style="font-size: 200px;">
                filter_1</mat-icon>

        </div>
        <div class="col-lg-6 border mb-3 rounded-right p-4 animate__animated animate__bounceInRight">
            <h3 class="text-warning">1 - Get Preliminary Diagnosis</h3>
            <hr>
            <p>sadasd</p>
        </div>
        <div class="col-lg-6 border text-right  mb-3 rounded-right p-4 animate__animated animate__bounceInLeft">
            <h3 class="text-danger">Search Relevent Physician - 2</h3>
            <hr>
            <p>sadasd</p>
        </div>
        <div class="col-lg-3 mx-auto mb-3  p-4">
            <mat-icon class="text-danger animate__animated animate__zoomIn large-number" style="font-size: 200px;">
                filter_2</mat-icon>

        </div>

        <div class="col-lg-4 mx-auto mb-3  p-4">
            <mat-icon class="text-success animate__animated animate__zoomIn large-number" style="font-size: 200px;">
                filter_3</mat-icon>

        </div>
        <div class="col-lg-6 border  mb-3 rounded-right p-4 animate__animated animate__bounceInRight">
            <h3 class="text-success">3 - Book Your Appointment</h3>
            <hr>
            <p>sadasd</p>
        </div>

    </div>
</div>